@import '../styles/index.scss';

.container {
  height: 100vh;
}

.header {
  height: 650px;
  background-image: url(../../content/assets/desk-1140699_1920.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;


  header {
    background: transparent;
    color: $background;

    li:hover {
      cursor: pointer;
      background: rgba(0,173,181,0.1);
      color: #fff;
      font-weight: bold;
    }
  }
}

.header-context {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  width: 100%;

  * {
    margin: 0;
    padding: 0;
  }
  
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 700px;
    padding: 50px 0;

    img {
      border-radius: 50%;
      box-shadow:0px 0px 20px 0px $primary;
    }

    p {
      color: $background;
      font-size: 30px;
      font-weight: 500;

      span {
        font-weight: 300;
      }
      
    }
  }

}

.header-icons {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  width: 100%;

  * {
    margin: 0;
    padding: 0;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $background;

    :hover {
      color: $primary;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $background;
      text-decoration: none;
      font-weight: 500;
    }

    svg {
      margin-right: 10px;
      font-size: 32px;
    }
  }

}

.section {
  height: 400px;
  background: $background;
  background-image: url(../../content/assets/bg-chart.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}

.section-context {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  width: 100%;

  div {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    height: 259px;

    h3 {
      font-weight: 700;
      font-size: 28px;
    }

    p {
      font-weight: 400;
      font-size: 18px;
      flex-grow: 1;
    }

    a {
      :hover {
        background: $secondary
      }
    }

    button {
      margin-top: 20px;
      background: $primary;
      border-radius: 4px;
      color: $background;
      font-weight: bold;
      border: 0;
      padding: 7px 30px;
      cursor: pointer;
    }

  }
}
        
.lf-dev {
          text-align: right;
        }

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;

  hr {
    height: 80px;
    width: 4px;
    border-radius: 10px;
    background: #ccc
  }
}

.blog-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fafafa;

  h2 {
    border: 0;
    font-size: 38px;
  }

  hr {
    height: 6px;
    width: 40px;
    background: $primary;
    border-radius: 10px;
  }
}

.blog-context {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1280px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.projectSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  background: $background;
}