@import '../styles/index.scss';

.footer {
  height: 300px;
  background-color: $black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: $background;
  padding-top: 50px;

  a {
    text-decoration: none;
    color: $background;
  }

  * {
    margin: 0;
    padding: 0;
    border: 0;
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      border-radius: 40px;
      border: 2px solid $primary;
      padding: 3px;
    }

    h3 {
      margin-left: 10px;
    }

    p {
      margin-bottom: 10px;

      span {
        color: $primary;
        font-size: 18px;
      }
    }
    
  }
}

.footer-icons {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  width: 100%;

  * {
    margin: 0;
    padding: 0;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $background;

    :hover {
      color: $primary;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $background;
      text-decoration: none;
      font-weight: 500;
    }

    svg {
      margin-right: 10px;
      font-size: 32px;
    }
  }

}